---
import Layout from "../components/Layout.astro";
import Tarjetas from "../components/servicios.astro"
import Seguridad from "../components/big-card.astro"
import Ofertas from "../components/Offers.astro"
import Precios from "../components/Pricing.astro"
import Personalizada from "../components/text-with-card.astro"
import Eleginos from "../components/eleginos.astro"


---

<Layout title="Desarrollo Web en Paraguay" url="https://conversa.com.py" descripcion="Descubre soluciones innovadoras de desarrollo web en Paraguay. Ofrecemos diseño web, desarrollo de aplicaciones y optimización SEO para impulsar tu negocio. Contáctanos hoy para crear tu presencia digital.">
    <main class="main__container">
        <div class="main__header">
            <div class="hero__text">
                <h1>Webs que hacen <b>click</b> con tu audiencia.</h1>
                <button onclick="window.location.href = './landings#plantillas';">COMIENZA YA</button>
                <span>Descubre los planes, ofertas y ventajas que tenemos para vos.</span>
            </div>          
                <figure>
                    <img src="./img/imagen-principal1.webp" alt="Desarrollando web en Paraguay">
                </figure>
        </div>
    </main>

<!-- Sección introducción -->

<section class="seccion__introduccion">
    <figure class="princ-img">
        <img src="./img/equipo-de-trabajo.webp" alt="Equipo de trabajo">
    </figure>
    <div class="introduccion__text"> 
        <h2>En la comunicación está la clave para llegar a tus clientes.</h2>
        <figure class="princ-img-mb">
            <img src="./img/equipo-de-trabajo.webp" alt="Equipo de trabajo">
        </figure>
            <p>Nuestro enfoque comienza por comprender a fondo tu negocio y tus objetivos. 
                Nos sumergimos en tu identidad de marca para desarrollar un sitio web que no solo atraiga, 
                sino que también mantenga a tu audiencia comprometida.
                </p>
            <div class="buttons">
                
                <button onclick="window.location.href = './contacto';">Contactanos</button>
                <button onclick="window.location.href = './planes';">Ver planes</button>
            
            </div>
    </div>
    </section>
    
    <Tarjetas></Tarjetas>
    <Seguridad></Seguridad>
        <Eleginos>

        </Eleginos>
    </seccion>
    
    <Ofertas></Ofertas>

    <Precios></Precios>

    <Personalizada></Personalizada>
</Layout>

<style>
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
    .main__container{
        color: #fff;
        background: var(--strong-blue);
        padding-top: 0.1px;
    }
    .main__header{
        display: flex;
        justify-content: center;
        width: 75rem;
        line-height: 1.2;
        padding: 4vh 0 15vh 0;
        margin: 7vh auto;
    }
    .hero__text{
        width: 50rem;
    }
    .hero__text button{
        display: block;
        color: #fff;
        background: #0047FF;
        border: none;
        padding: 1.2rem;
        margin: 2.5rem 0;
        width: 13rem;
        font-weight: 500;
        border-radius: 19px;
        font-size: 1.2rem;
        font-family: var(--main-font);
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    }
    .hero__text button:hover{
        cursor: pointer;
        background: hsl(223, 100%, 61%,0.4);
    }
    .main__header figure{
        display: flex;
        width: 60%;
        height: 100%;
        align-items: center;
    }
    .main__header img{
        width: 100%;
    }
    .main__header h1, .main__header h1 b{
        font-size: 4.4rem;
        margin: 1.6rem 0 1rem 0;
    }
    .main__header h1 b{
        display: inline;
        text-shadow: 8px 0 #0047FF;
    }
    .hero__text :last-child{
        width: 50%;
        display: block;
    }

/* Sección de introducción */


.seccion__introduccion{
    display: flex;
    width: 75vw;
    margin: 10vh auto;
    justify-content: flex-end;
    align-items: center;
    gap: 7rem;
}
.seccion__introduccion h2{
    font-size: 2.4rem;
    margin: 2.4rem 0 3rem 0;
    color: #333;
}
.princ-img img{
    width: 100%;
}
.princ-img-mb{
    display: none;
}
.princ-img {
    width: 30rem;
}
.introduccion__text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40rem;
    gap: 3vh;
}
.seccion__introduccion p{
    color: #333;
    font-size: 1.1rem;
    width: 70%;
}

.buttons button{
    margin: 2.8rem 0.5rem 10rem 0.5rem;
    border: none;
    border-radius: 16px;
    color: #fff;
    font-size: 1.2rem;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.buttons :first-child{
    background: #1C2B5C;
    padding: 0.8rem 2rem;
}
.buttons :nth-child(2){
    background: #2E69D7;
    padding: 0.8rem 1.5rem;
}
.buttons button:hover{
    cursor: pointer;
    opacity: 80%;
}


.seccion__ventajas{
    display: flex;
    background: #00295B;
    margin-top: 20vh;
    padding: 8rem;
    flex-direction: column;
    align-items: center;
}
.mensaje{
    display: flex;
    width: 60vw;
    position: relative;
    z-index: 200;
    gap: 10vw;
    margin: 0 auto 10vh auto;
    color: #fff;
}
.mensaje h3{
    font-size: 1.5rem;
    font-weight: 500;
    width: 40vw;
}
@media screen and (max-width:800px){
    .main__header{
        width: 95%;
        flex-direction: column;
        padding: 4vh 0;
        margin: auto;
    }
    .main__header figure{
        display: none;
    }
    .hero__text{
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .hero__text button{
        order: 2;
        padding: .8rem;
        width: 10rem;
        font-size: 0.9rem;
        margin: 1rem auto 2rem auto;
    }
    .hero__text :last-child(){
        width: 100%;
        order: 1;
        font-size: 1rem;
    }
    .main__header h1, .main__header h1 b{
        font-size: 2.4rem;
        order: 0;
    }
    .main__header h1 b{
        text-shadow: 4px 0 #3A71FF;
    }

    /* Sección introducción*/

    .seccion__introduccion{
        flex-direction: column;
        margin: 4vh auto;
        width: 100%;
    }
    .seccion__introduccion h2{
        font-size: 1.6rem;
    }
    .seccion__introduccion p{
        font-size: .9rem;
        width: 95vw;
    }
    .introduccion__text{
        width: 95vw;
        margin: auto;
        text-align: center;
    }
    .princ-img{
        display: none;
    }
    .princ-img-mb{
        display: block;
    }
    .princ-img-mb img{
        width: 100%;
    }
    .buttons{
        margin: auto;
    }
    .buttons button{
        font-size: 1rem;
        margin: 1rem auto 10rem auto;
    }
    .buttons :first-child{
    padding: 0.7rem 1.2rem;
}
    .buttons :nth-child(2){
    background: #2E69D7;
    padding: 0.7rem 1rem;
}

/*Sección ventajas*/
.seccion__ventajas{
    padding: 10vh 0;
}
.mensaje{
    flex-direction: column;
    width: 95vw;
    font-size: .9rem;
}
.mensaje h3{
    width: 100%;
    font-size: 1.3rem;
}
}
</style>