---
import Layout from "../components/Layout.astro";
import Tarjetas from "../components/Cards.astro"
import Seguridad from "../components/big-card.astro"
import Ventajas from "../components/Cards-ventajas.astro"
import Ofertas from "../components/Offers.astro"
import Precios from "../components/Pricing.astro"
import Personalizada from "../components/text-with-card.astro"


---

<Layout>
    <main class="main__container">
        <div class="main__header">
            <div class="hero__text">
                <span>Mejora la conversión</span>
                <h1>Páginas webs que hacen click con tu audiencia.</h1>
                <p>Alcanza a una amplia audiencia, brinda información a tus clientes y evalúa los resultados de tus campañas.</p>
                <button onclick="window.location.href = './landings#plantillas';">COMIENZA YA</button>
                <span>Accede a un público de miles de personas, proporciona información a tus clientes.</span>
            </div>
            <div class="hero__img">
                <figure>
                    <img src="./img/computadoras.svg" alt="Dispositivos con una web abierta">
                </figure>
            </div>
        </div>
    </main>

<!-- Sección introducción -->

<section class="seccion__introduccion">
    <figure class="princ-img">
        <img src="./img/personas-comprando.svg" alt="personas comprando">
    </figure>
    <div class="introduccion__text"> 
        <h2>Construye el equipo ideal para llegar a tu cliente</h2>
        <figure class="princ-img-mb">
            <img src="./img/personas-comprando.svg" alt="personas comprando">
        </figure>
            <p>Use this long-form section to really paint a picture of the before and after. What’s the problem you’re solving? What’s the benefit people are getting? For example, if you’re hosting a webinar about how to collect leads for an online business, describe the struggle of trying to find and convert prospects—then explain how your webinar is gonna help make it easier.</p>
            <div class="buttons">
                
                <button onclick="window.location.href = './contacto';">Contactanos</button>
                <button onclick="window.location.href = './presupuesto';">Ver planes</button>
            
            </div>
    </div>
    </section>

    <!-- Sección características -->
    
    <Tarjetas></Tarjetas>
    <Seguridad></Seguridad>

    <!-- Sección Ventajas -->

    <seccion class="seccion__ventajas">
        <div class="mensaje">
            <h3>La conexión con el cliente se construye a través de la <b>comunicación</b></h3>
            <p>La información concisa de una página web permite a tu cliente entender con mayor facilidad <b>el mensaje que buscas que reciba.</b></p>
        </div>
        <Ventajas>

        </Ventajas>
    </seccion>
    
    <Ofertas></Ofertas>

    <Precios></Precios>

    <Personalizada></Personalizada>
</Layout>

<style>
@import url('https://fonts.googleapis.com/css2?family=Hubballi&display=swap');
    :root{
        --light-cian: #97E9FF;
        --span-font: 'Hubballi', sans-serif;
    }
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
    .main__container{
        color: #fff;
        background: var(--strong-blue);
        padding-top: 0.1px;
    }
    .main__header{
        display: flex;
        width: 85vw;
        padding: 4vh 0 20vh 0;
        /* height: 80vh; */
        margin: 7vh auto;
    }
    .main__header .hero__text :first-child(){
        color: var(--light-cian);
        font-size: 1.4rem;
        text-transform:uppercase;
        font-family: var(--span-font);
    }
    .hero__text{
        width: 57rem;
    }
    .hero__text p{
        width: 80%;
        font-size: 1.125rem;
        margin: 3rem 0 1rem 0;
    }
    .hero__text button{
        display: block;
        color: #fff;
        background: hsla(226, 89%, 62%, 0.6);
        border: none;
        padding: 1.5rem;
        margin: 2rem 0 1.4rem 0;
        width: 17rem;
        border-radius: 19px;
        font-size: 1.2rem;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    }
    .hero__text button:hover{
        cursor: pointer;
        background: hsla(226, 89%, 62%, 0.4);
    }
    .main__header figure{
        display: flex;
        height: 100%;
        align-items: center;
    }
    .main__header img{
        width: 100%;
    }
    .main__header h1{
        font-size: 3.3rem;
        margin: 1.6rem 0 1rem 0;
    }
    .hero__text :last-child{
        font-size: 1rem;
        width: 50%;
        display: block;
    }

/* Sección de introducción */


.seccion__introduccion{
    display: flex;
    width: 85vw;
    margin: 10vh auto;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}
.seccion__introduccion h2{
    font-size: 2.4rem;
    margin: 2.4rem 0 3rem 0;
    color: #333;
}
.princ-img img{
    width: 100%;
}
.princ-img-mb{
    display: none;
}
.princ-img {
    width: 45vw;
}
.introduccion__text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50rem;
    gap: 3vh;
}
.seccion__introduccion p{
    color: #7C7A7A;
    font-size: 1.1rem;
    width: 70%;
}

.buttons button{
    margin: 2.8rem 0.5rem 10rem 0.5rem;
    border: none;
    border-radius: 16px;
    color: #fff;
    font-size: 1.2rem;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.buttons :first-child{
    background: #1C2B5C;
    padding: 0.8rem 2rem;
}
.buttons :nth-child(2){
    background: #2E69D7;
    padding: 0.8rem 1.5rem;
}
.buttons button:hover{
    cursor: pointer;
    opacity: 80%;
}


.seccion__ventajas{
    display: flex;
    background: #00295B;
    margin-top: 20vh;
    padding: 8rem;
    flex-direction: column;
    align-items: center;
}
.mensaje{
    display: flex;
    width: 60vw;
    position: relative;
    z-index: 200;
    gap: 10vw;
    margin: 0 auto 10vh auto;
    color: #fff;
}
.mensaje h3{
    font-size: 1.5rem;
    font-weight: 500;
    width: 40vw;
}
@media screen and (max-width:800px){
    .main__header{
        width: 95%;
        flex-direction: column;
        padding: 4vh 0;
        margin: auto;
    }
    .main__header figure{
        display: none;
    }
    .hero__text{
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .hero__text button{
        padding: 1rem;
        width: 10rem;
        font-size: 1rem;
        margin: 2rem auto;
    }
    .hero__text :last-child(){
        display: none;
    }
    .main__header .hero__text :first-child(){
        font-size: 1.2rem;
        margin: 0;
    }
    .main__header h1{
        font-size: 1.8rem;
    }
    .main__header p{
        font-size: 1rem;
        margin: 0;
    }

    /* Sección introducción*/

    .seccion__introduccion{
        flex-direction: column;
        margin: 4vh auto;
        width: 100%;
    }
    .seccion__introduccion h2{
        font-size: 1.6rem;
    }
    .seccion__introduccion p{
        font-size: .9rem;
        width: 95vw;
    }
    .introduccion__text{
        width: 95vw;
        margin: auto;
        text-align: center;
    }
    .princ-img{
        display: none;
    }
    .princ-img-mb{
        display: block;
    }
    .princ-img-mb img{
        width: 100%;
    }
    .buttons{
        margin: auto;
    }
    .buttons button{
        font-size: 1rem;
        margin: 1rem auto 10rem auto;
    }
    .buttons :first-child{
    padding: 0.6rem 1.2rem;
}
    .buttons :nth-child(2){
    background: #2E69D7;
    padding: 0.6rem 1rem;
}
}
</style>