---
import Layout from "../components/Layout.astro"
import Stats from "../components/stats.astro"
import Ventajas from "../components/Ventajas.astro"
import Plantillas from "../components/pageSelector.vue"

---

<Layout>
    <div class="landings-background">
        <main class="hero__landings">
            <div class="hero__text">
                <h1>Tu sitio web listo para empezar.</h1>
                <p>Te preparamos plantillas web de alto rendimiento para tu proyecto. Agiliza el proceso y desarrolla tu sitio con nuestras plantillas listas para adaptarse a tus necesidades.</p>
                <div class="hero__buttons">
                    <button>Nuestros Planes</button>
                    <button>Ver Plantillas</button>
                </div>
            </div>
                <figure>
                    <img src="./img/landing-heroimg.svg" alt="imagen publicitaria">
                </figure>
        </main>
    </div>
    <Stats id="seo"></Stats>
    <Ventajas></Ventajas>
    <Plantillas id="plantillas" client:load></Plantillas>
</Layout>

<style>

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.landings-background{
    padding: 0.1px;
    background: url("./img/landings-bg.svg");
}
.hero__landings{
    display: flex;
    justify-content: space-between;
    width: 70vw;
    align-items: center;
    margin: 4vh auto;
    color: #1c1c1c;
}
h1{
    font-size: 3.4rem;
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}
.hero__text{
    width: 30vw;
    margin-top: -10vh;
}
.hero__text>*{
    margin: 1.5rem 0;
}
.hero__buttons button{
    border: none;
    border-radius: 16px;
    padding: .65rem 1.5rem;
    font-weight: 500;
    font-family: var(--main-font);
    font-size: 1.1rem;
    color: #fff;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.hero__buttons :first-child{
    background-color: hsl(213, 100%, 18%);
}
.hero__buttons :nth-child(1):hover{
    background-color: hsl(213, 100%, 18%,0.8);
    cursor: pointer;
}
.hero__buttons :nth-child(2):hover{
    background-color: hsl(223, 100%, 61%,0.8);
    cursor: pointer;
}
.hero__buttons :nth-child(2){
    background-color: hsl(223, 100%, 61%);
    margin-left: 1vw;
}
.hero__landings figure img{
    width: 100%;
}
@media screen and (max-width:800px){
    .hero__landings{
        width: 95vw;
        height: 50vh;
    }
    .hero__landings figure{
        display: none;
    }
    .hero__landings h1{
        font-size: 1.8rem;
    }
    .hero__text{
        width: 90vw;
        margin: 2vh auto;
    }
    .hero__text button{
        padding: .6rem 1.2rem;
        font-size: 1rem;
    }
    .hero__buttons{
        display: flex;
        justify-content: center;
    }
}
</style>