---
import Layout from "../components/Layout.astro"
import Stats from "../components/stats.astro"
import Ventajas from "../components/Ventajas.astro"
import Plantillas from "../components/pageSelector.vue"

---

<Layout title="Plantillas" url="https://conversa.com.py/landings" descripcion="Diseñamos landing pages de alto impacto que convierten visitantes en clientes. Optimizadas para móviles, rápidas y persuasivas. Aumenta tus conversiones con nuestras landing pages profesionales. ¡Solicita tu presupuesto!">
    <div class="landings-background">
        <main class="hero__landings">
            <div class="hero__text">
                <h1>Tu sitio web listo para empezar.</h1>
                <p>Agiliza el proceso y desarrolla tu sitio con nuestras plantillas listas para adaptarse a tus necesidades.</p>
                <div class="hero__buttons">
                    <button onclick="window.location.href = './planes';">Nuestros Planes</button>
                    <button id="ver_plantillas">Ver Plantillas</button>
                </div>
            </div>
                <figure>
                    <img src="./img/500-preview-2.webp" alt="imagen publicitaria">
                </figure>
        </main>
    </div>
    <Stats id="seo"></Stats>
    <Ventajas></Ventajas>
    <section id="plantillas">
        <Plantillas id="plantillas" client:load></Plantillas>
    </section>
</Layout>

<style>

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.landings-background{
    padding: 0.1px;
    background: #E2F3FF;
}
.hero__landings{
    display: flex;
    gap: 2rem;
    justify-content: center;
    width: 80vw;
    height: 70vh;
    align-items: center;
    margin: 4vh auto;
    color: #161935;
}
h1{
    font-size: 3.4rem;
    font-weight: 900;
    line-height: 1.2;
    text-shadow: 2px 2px 4px hsl(213, 100%, 18%,0.25);
}
.hero__text{
    width: 25rem;
    margin-top: -10vh;
}
.hero__text>*{
    margin: 1.5rem 0;
}
.hero__buttons button{
    border: none;
    border-radius: 16px;
    padding: .65rem 1.5rem;
    font-weight: 500;
    font-family: var(--main-font);
    font-size: 1.1rem;
    color: #fff;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.hero__buttons :first-child{
    background-color: hsl(213, 100%, 18%);
}
.hero__buttons :nth-child(1):hover{
    background-color: hsl(213, 100%, 18%,0.8);
    cursor: pointer;
}
.hero__buttons :nth-child(2):hover{
    background-color: hsl(223, 100%, 61%,0.8);
    cursor: pointer;
}
.hero__buttons :nth-child(2){
    background-color: hsl(223, 100%, 61%);
    margin-left: 1vw;
}
.hero__landings figure img{
    width: 45rem;
    height: 25rem;
    object-position: top;
    object-fit: cover;
    border-radius: 16px;
    box-shadow: 8px 6px 4px hsl(0, 0%, 0%,0.25);
}
@media screen and (max-width:800px){
    .hero__landings{
        width: 95vw;
        height: 50vh;
    }
    .hero__landings figure{
        display: none;
    }
    .hero__landings h1{
        font-size: 1.8rem;
    }
    .hero__text{
        width: 90vw;
        margin: 2vh auto;
    }
    .hero__text button{
        padding: .6rem 1.2rem;
        font-size: 1rem;
    }
    .hero__buttons{
        display: flex;
        justify-content: center;
    }
}
</style>

<script>
    const scrollButton = document.getElementById("ver_plantillas");
    console.log(scrollButton);

    scrollButton?.addEventListener("click", function() {
        const section = document.getElementById("plantillas");
        section?.scrollIntoView({ behavior: 'smooth' });
        console.log(section);
    });

</script>