---
import Layout from "../components/Layout.astro"
---
<Layout title="Nosotros" url="https://conversa.com.py/nosotros" descripcion="Somos más que desarrolladores web; somos soñadores digitales. Nuestra pasión: transformar ideas en experiencias online únicas. Descubre cómo nuestra visión y valores impulsan cada proyecto. Conócenos en profundidad.">
    <div class="nosotros-bg">
        <main>
            <div class="nosotros-text">
                <h1>Sobre Nosotros</h1>
                <p>Te contamos más sobre nuestro equipo de trabajo, objetivos y misión.</p>
            </div>
            <figure>
                <img src="./img/nosotros-principal.webp" alt="Equipo de trabajo">
            </figure>
        </main>
    </div>
    <!-- Sección Sobre Nosotros -->
    
    <section class="Sobre-Nosotros">
        <figure>
            <img src="./img/sobre-nosotros.webp" alt="Sobre nosotros">
        </figure>
        <div class="Sobre-Nosotros-text">
            <span>Sobre Nosotros</span>
            <h2>Encontrá un plan que se adecue a tu negocio.</h2>
            <p>Nuestro enfoque es fomentar el desarrollo a través de la comunicación atendiendo a tus necesidades.</p>
            <button onclick="window.location.href = './planes';">Nuestros Planes</button>
        </div>
    </section>
    
    <!-- Sección qué hacemos -->
    
    <section class="Que-Hacemos">
        <div class="Que-Hacemos-text">
            <h3>¿Qué hacemos?</h3>
            <p>Desarrollamos webs que conectan con tu audiencia, generan tráfico y convierte dándole seguridad a tu marca.</p>
        </div>
        <figure>
            <img src="./img/nosotros-pc.webp" alt="Dispositivos">
        </figure>
    </section>
    
    
        <!-- Sección Misión -->
    
        <section class="mision">
                <img src="./img/mision-img.svg" alt="Una persona navegando en la web">
                <img src="./img/mision-img-mobile.svg" alt="Una persona navegando en la web">
            <div class="mision-text">
                <h2>Nuestra Misión</h2>
                <p>Buscamos hacer llegar a tu cliente, la información esencial que necesita para conocer tu empresa y así, generar ventas.</p>
            </div>
        </section>

    <!-- Sección por qué elegirnos -->


    <!-- Sección Diseño -->

    <section class="design">
        <div class="design-container">
            <div class="design-text">
                <div class="text">
                    <h3>Una aplicación moderna al diseño.</h3>
                    <p>El diseño de nuestras webs sigue los estándares de innovación actual y su estructura está optimizada para garantizar los resultados.</p>
                    <div class="design-boton">
                        <a href="./landings">Ver nuestros modelos</a>
                        <img src="./img/flecha-boton.svg" alt="flecha">
                    </div>
                </div>
            </div>
                <figure>
                    <img src="./img/design-img.svg" alt="Escritorio">
                </figure>
        </div>
    </section>



<!-- Seccion Nuestros Miembros  -->

<section class="nuestros-miembros">
    <h3>Nuestros miembros</h3>
    <div class="miembros">
        <div class="tarjeta-miembro">
            <img src="./img/aaron.webp" alt="Aaron Velazquez">
            <span>Aaron Velazquez</span>
            <p>Cinco años de experiencia en el desarrollo web <br> Tres años en el SEO, el tracking de analíticas, y campañas de marketing especializadas.</p>
        </div>
        <div class="tarjeta-miembro">
            <img src="./img/dani.jpg" alt="Sofia Cabañas">
            <span>Sofía Cabañas</span>
            <p>Tres años de experiencia en el diseño publicitario <br>Actual enfoque en el diseño y desarrollo web.</p>
        </div>
    </div>
</section>

</Layout>

<style>
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    /* Sección header */

    .nosotros-text{
        font-size: 1.2rem;
        color: #E2F3FF;
    }
    .nosotros-text h1{
        font-size: 3.6rem;
        margin-bottom: 1.5rem;
        text-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
    }
    main{
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        background-color: #161935;
        height: 60vh;
    }
    main figure{
        width: 35rem;
    }
    main figure img{
        width: 100%;
    }
    .nosotros-bg{
        padding: 0.1px;
    }

/* Sección sobre nosotros */

.Sobre-Nosotros{
    margin: 10vh auto;
    display: flex;
    width: 90rem;
    justify-content: center;
    gap: 5rem;
}
.Sobre-Nosotros figure img{
    width: 100%;
}
.Sobre-Nosotros-text{
    width: 30rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.Sobre-Nosotros-text span{
    color: #0027A8;
    font-size: 1.6rem;
    font-weight: 500;
}
.Sobre-Nosotros-text h2{
    font-size: 2.2rem;
    text-transform: uppercase;
    font-weight: 400;
    line-height: 140%;
}
.Sobre-Nosotros-text>*{
    margin: 1.5vh 0;
}
.Sobre-Nosotros-text button{
    width: 13rem;
    margin-top: 4vh;
    padding: 1rem;
    border: none;
    font-family: "Murecho", sans-serif;
    font-weight: 500;
    color: #fff;
    font-size: 1.2rem;
    background: #0027A8;
    border-radius: 16px;
}
.Sobre-Nosotros-text button:hover{
    cursor: pointer;
    background: hsl(226, 100%, 33%,0.8);
}

/* Sección qué hacemos */

.Que-Hacemos{
    width: 100%;
    color: #fff;
    background: #161935;
    display: flex;
    padding: 2vh 0;
    gap: 7vw;
    justify-content: center;
    height: 20rem;
    margin: 15vh 0;
}
.Que-Hacemos figure img{
    transform: translateY(-30px);
}
.Que-Hacemos-text{
    display: flex;
    width: 30rem;
    flex-direction: column;
    justify-content: center;
}
.Que-Hacemos-text h3{
    font-size: 2.8rem;
}
.Que-Hacemos-text > *{
    margin: 1vh;
}

/* Sección Nuestra Misión */

.mision{
    display: flex;
    width: 70rem;
    margin: 10vh auto;
    gap: 3rem;
    border-radius: 16px;
    border: 1px #CDCDCD solid;
    box-shadow: 0 3px rgba(0, 0, 0, 0.25);
}
.mision-text{
    display: flex;
    width: 20rem;
    flex-direction: column;
    justify-content: center;
}
.mision-text h2{
    font-size: 2.2rem;
    margin-bottom: 2vh;
}
.mision img:nth-child(2){
    display: none;
}
.mision img{
    width: 40rem;
    display: block;
    border-radius: 16px 0 0 16px;
}

/* Sección Por Qué Elegirnos */



/* Sección Diseño */

.design{
    margin: 10vh 0;
    width: 100%;
}
.design-container{
    display: flex;
    gap: 10vw;
    justify-content: space-between;
    background: url("../img/design-bg.svg");
}
.design-container figure{
    width: 100%;
}
.design-container figure img{
    width: 100%;
    display: block;
}
.design-text{
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-direction: column;
    color: #fff;
}
.text>*{
    margin: 2vh 0;
}
.text h3{
    font-size: 2.2rem;
    text-shadow: 0 2px rgba(0, 0, 0, 0.25);
    line-height: 130%;
}
.text p{
    color: #D1D1D1;
    margin-bottom: 5vh;
}
.design-boton{
    width: 12rem;
    background: #fff;
    padding: .4rem;
    border-radius: 16px;
    box-shadow: 0 4px rgba(0, 0, 0, 0.25);
}
.design-boton img{
    width: .8rem;
}
.text a{
    margin: 0.5rem;
    font-size: .9rem;
    text-decoration: none;
    color: #000;
    font-weight: 500;
}
.text{
    width: 20rem;
}

/* Sección nuestros miembros*/

.nuestros-miembros{
    width: 90rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.nuestros-miembros h3{
    font-size: 2.6rem;
}
.miembros{
    display: flex;
    justify-content: center;
    gap: 10vw;
    margin: 5vh 0;
}
.tarjeta-miembro img{
    border-radius: 16px;
    filter: saturate(20%);
}
.tarjeta-miembro{
    width: 20rem;
    border-radius: 16px;
    box-shadow: 1px 4px rgba(0, 0, 0, 0.25);
}
.tarjeta-miembro > :not(img){
    margin: 1vh 2vw 2vh 2vw;
}
.tarjeta-miembro span{
    text-align: center;
    display: block;
    font-size: 1.6rem;
    font-weight: 500;
}
.tarjeta-miembro img{
    width: 100%;
    height: 30rem;
    object-fit: cover;
    display: block;
}

@media screen and (max-width: 800px){

    .nosotros-text h1{
        font-size: 2.4rem;
        margin: 1.5vh;
    }
    .nosotros-text{
        text-align: center;
        width: 80vw;
        font-size: .95rem;
    }
    .Sobre-Nosotros{
        width: 80vw;
        flex-direction: column;
    }
    .Sobre-Nosotros-text{
        width: 100%;
    }
    main{
        height: 40vh;
    }
    main figure{
        display: none;
    }
    .Sobre-Nosotros-text span{
        font-size: .95rem;
    }
    .Sobre-Nosotros-text h2{
        font-size: 1.6rem;
    }
    .Sobre-Nosotros-text button{
        width: 10rem;
        font-size: 1rem;
        padding: .7rem;
    }

    .Que-Hacemos figure{
        display: none;
    }
    .Que-Hacemos-text{
        width: 85vw;
        font-size: .95rem;
    }
    .Que-Hacemos-text h3{
        font-size: 2rem;
    }


    .mision{
        width: 85vw;
        flex-direction: column;
        gap: 1vh;
    }
    .mision-text{
        padding: 3rem 0;
        width: 80%;
        margin: auto;
        text-align: center;
    }
    .mision-text h2{
        font-size: 1.6rem;
    }
    .mision img:first-child{
        display: none;
    }
    .mision img:nth-child(2){
        display: block;
        width: 100%;
        border-radius: 0;
    }



    .design-container{
        padding: 3rem 0;
        gap: 0;
    }
    .design-container figure{
        display: none;
    }
    .design-text{
        align-items: center;
        width: 80vw;
        margin: auto;
        font-size: .9rem;
    }
    .text h3{
        font-size: 1.6rem;
    }




.nuestros-miembros{
    width: 95vw;
    margin: 10vh auto;
}
.nuestros-miembros h3{
    font-size: 1.6rem;
}

.miembros{
    flex-direction: column;
    gap: 10vh;
}

}
</style>