<section class="section__trust">
    <div class="trust-card">
        <div class="card-text">
            <h3>El diseño que más gusta, el diseño que más vende.</h3> 
            <p>Un diseño bien estructurado y centrado en la experiencia del usuario puede guiar hábilmente al cliente a través de la página, desde la exploración inicial de productos o servicios hasta la conversión final.</p>
            <button onclick="window.location.href = './nosotros';">Explorar más</button>
        </div>
        <div class="card-img">
            <figure>
                <img src="./img/tercera-imagen.webp" alt="Laptop con web">
            </figure>
        </div>
        <!-- <div class="feature la1">
            <figure>
                <img src="./img/candado.svg" alt="Candado">
            </figure>
            <span>Diseño</span>
        </div>
        <div class="feature la2">
            <figure>
                <img src="./img/check.svg" alt="Green Check">
            </figure>
            <span>Conversión</span>
        </div> -->
    </div>
    <figure class="circles-pattern">
        <img src="./img/circles-pattern.svg" alt="Patrón de círculos">
    </figure>
</section>
<style>

*{
    margin: 0;
    padding: 0;
}
.trust-card{
    width: 70vw;
    margin: 7rem auto;
    display: flex;
    background: #E2F3FF;
    border-radius: 16px;
    justify-content: space-around;
    position: relative;
    z-index: 100;
}
.card-text h3{
    font-size: 2.2rem;
    width: 90%;
    color: #212121;
}
.card-text{
    padding: 2.5rem 4rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 30rem;
    gap: 3rem;
}
.card-text p{
    width: 23rem;
    color:#424242;
    font-weight: 300;
}
.card-img figure img{
    width: 100%;
    display: block;
}
.card-img{
    margin-top: 3rem;
    width: 50rem;
    height: 100%;
    display: flex;
    align-items: center;
}
.la1 figure img{
    width: 80%;
}
.la1 span{
    translate: -0.5rem;
}
.card-text button{
    width: 10rem;
    padding: 1rem;
    border: none;
    border-radius: 10px;
    background: hsl(219, 68%, 51%);
    color: #fff;
    font-weight: 500;
    font-family: var(--main-font);
    font-size: 1.05rem;
}
.card-text button:hover{
    background: hsl(219, 68%, 51%,0.85);
    cursor: pointer;
}
.feature{
    position: absolute;
    display: flex;
    width: 9rem;
    color: #fff;
    font-weight: 500;
    background: #3A71FF;
    border-radius: 15px;
    gap: 0.5rem;
    padding: 0.3rem;
    align-items: center;
    transform: translateX(33vw) translateY(6rem);
}
.la2{   
    transform: translateX(33vw) translateY(10rem);
}
.circles-pattern{
    position: absolute;
    transform: translateY(-28rem);
}
@media screen and (max-width:800px){
    .trust-card{
        flex-direction: column;
        width: 95vw;
        align-items: center;
        padding: 2vh 0;
    }
    .card-text{
        width: 100%;
        gap: 1rem;
        order: 3;
    }
    .card-text h3{
        font-size: 1.6rem;
    }
    .card-text button{
        width: 7rem;
        font-size: .8rem;
        margin: auto;
    }
    .feature{
        transform: translateX(30vw) translateY(-9rem);
        width: 8rem;
        padding: .1rem;
    }
    .la2{
        transform: translateX(30vw) translateY(-12.5rem);
    }
    .card-img{
        width: 80vw;
        order: 0;
    }
    .circles-pattern{
        display: none;
    }
}
</style>