---

import { SEO } from "astro-seo";

interface Props {
    title?: string;
    url?: string;
    descripcion?: string;
}

const { title, url, descripcion } = Astro.props;

---
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Conversa | {title}</title>
    <link rel="icon" type="image/x-icon" href="./img/favicon-conver.png">

    <SEO
    description="Desarrollamos la Web que tu empresa necesita, optimizada para aumentar la conversión y enfocada en enriquecer la experiencia del usuario"
    openGraph={
        {
            basic: {
                title: "Conversa | Desarrollo Web en Paraguay",
                type: "Website",
                image: "./img/conversa-logo.jpg"
            }
        }
    }
    canonical={url}
    />
    <script type="application/ld+json">
        {
            "@context": "https://schema.org",
            "@type": "Organization",
            "name": "Conversa",
            "url": "https://conversa.com.py/",
            "sameAs": [
                "www.facebook.com/61553693372809",
                "instagram.com/conversa_py"
            ]
        }</script>
    <script type="application/ld+json">
        {
            "@context": "https://schema.org",
            "@type": "Organization",
            "url": "https://conversa.com.py/",
            "logo": "./img/conversa-logo.jpg",
            "contactPoint": [
                {
                    "@type": "ContactPoint",
                    "telephone": "+595 973 236 438",
                    "contactType": "sales",
                    "areaServed": "PY",
                    "contactOption": "Toll",
                    "availableLanguage": "Spanish"
                }
            ]
        }</script>
    <script type="application/ld+json">
        {
            "@context": "https://schema.org",
            "@type": "Organization",
            "url": "https://conversa.com.py/",
            "logo": "./img/conversa-logo.jpg"
        }</script>
</head>
<body>
    <main>
        <nav class="menu">
            <div class="opciones">
                <span class="logo" onclick="window.location.href = './';">
                    Conversa
                </span>
                <ul><li><a href="./landings">Landings</a></li>
                <li><a href="./soporte">Soporte</a></li>
                <li><a href="./nosotros">Nosotros</a></li>
                <li><a href="./planes">Planes</a></li>
            </ul>
            </div>
            </div>
            <div class="contacto">
                <span><a href="https://api.whatsapp.com/send?phone=+595973236438&text=Buenas%2C+estoy+interesado+en+una+landing+page+personalizada">Contactanos</a></span>
                <img id="hamburger" class="burger" src="./img/menuToggle.svg" alt="Hamburguesa">
                <img id="salir" class="burger onScreen-mob" src="./img/x.svg" alt="X">
            </div>
        </nav>
        <div class="menu-mobile onScreen">
            <span id="Plantillas">Plantillas</span>
            <span id="Desarrollo">Planes</span>
            <span id="Soporte">Soporte</span>
            <span id="Nosotros">Nosotros</span>
        </div>
        <slot></slot>
    </main>
    <footer>
        <div class="footer-container">
            <span>Conversa</span>
            <div class="footer_sections">
                <ul class="footer-section">
                    <span class="foot_titulo">Nosotros</span>
                    <!-- <li>Términos y condiciones</li> -->
                    <li onclick="window.location.href = './planes';">Planes</li>
                    <li onclick="window.location.href = './contacto';">Contacto</li>
                    <li onclick="window.location.href = './nosotros';">Quienes Somos</li>
                </ul>
                <!-- <div class="footer-section">
                    <span class="foot_titulo">Casos de Uso</span>
                    <li>Restaurantes</li>
                    <li>Gimnasios</li>
                    <li>Portafolios</li>
                    <li>Seguros</li>
                </div> -->
                <ul class="footer-section">
                    <span class="bolder">E-Mail</span>
                    <li onclick="window.location.href = 'mailto:social@conversa.com.py';">social@conversa.com.py</li>
                    <span class="bolder">Teléfono</span>
                    <li id="tel" onclick="window.location.href = 'tel:+595973236438'">+595 973236438</li>
                </ul>
            </div>
            <div class="line">
            </div>
            <div class="social-icons">
                <div class="social-icon" onclick="window.location.href = 'https://www.instagram.com/conversa_py?igsh=Znh6OHI3NnJ6ajk4'">
                    <figure>
                        <img src="./img/instagram.svg" alt="Instagram">
                    </figure>
                    <span>Instagram</span>
                </div>
                <div class="social-icon" onclick="window.location.href = 'https://www.facebook.com/61553693372809'">
                    <figure>
                        <img src="./img/facebook.svg" alt="Facebook">
                    </figure>
                    <span>Facebook</span>
                </div>
                <div class="social-icon" onclick="window.open('https://api.whatsapp.com/send?phone=+595973236438&text=Buenas%2C+estoy+interesado+en+una+landing+page+personalizada', '_blank');">
                    <figure>
                        <img src="./img/whatsapp.svg" alt="Whatsapp">
                    </figure>
                    <span>Whatsapp</span>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>

    <style>
@import url('https://fonts.googleapis.com/css2?family=Murecho:wght@100..900&family=Questrial&display=swap');
    :root{
        --strong-blue: #161935;
        --Logo-font: 'Questrial', sans-serif;
        --main-font: 'Murecho', sans-serif;
    }
    * {
        font-family: var(--main-font);
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        list-style: none;
    }
    .logo{
            font-family: var(--Logo-font);
            font-size: 2rem;
            margin-right: 1.4rem;
        }
    .menu{
            color: #fff;
            background-color: var(--strong-blue);
            list-style: none;
            display: flex;
            padding: 1.2rem 7%;
            justify-content: space-between;
        }
        .opciones{
            gap: 2.4rem;
            display: flex;
            font-size: 1.4rem;
        }
        .contacto{
            font-size: 1.8rem;
            margin-top: -0.2rem;
        }
        .menu li a, .contacto a{
            color: #fff;
            text-decoration: none;
        }
        .menu ul{
            display: flex;
            gap: 2rem;
        }
        .burger{
            display: none;
        }
        .opciones:hover, .contacto:hover{
            cursor: pointer;
        }
        .menu-mobile{
            position: fixed;
            z-index: 200;
            width: 100vw;
            height: 70vh;
            background: var(--strong-blue);
            display: flex;
            color: #fff;
            flex-direction: column;
            align-items: center;
            font-size: 1.2rem;
            text-transform: uppercase;
            gap: 5vh;
            font-weight: 500;
            padding-top: 4vh;
        }
        footer{
            background: #212121;
            color: #fff;
            padding: 0.1px;
        }
    .footer-container{
        width: 80rem;
        margin: 2rem auto;
        display: flex;
        flex-direction: column;
    }
    .footer-container > span{
        align-self: flex-start;
        font-family: var(--Logo-font);
        font-size: 2rem;
    }
    .footer_sections{
        display: flex;
        justify-content: space-around;
    }
    span.foot_titulo{
        font-size: 1.4rem;
        font-weight: 500;
    }
    .footer-section{
        margin-top: 2rem;
        font-size: 1rem;
    }
    .footer-section>*{
        margin: .4rem;
    }
    .social-icons{
        width: 40rem;
        margin: auto;
        display: flex;
        justify-content: space-around;
    }
    .line{
        margin: 6vh auto;
        width: 58rem;
        height: 2px;
        background: #fff;
    }
    .social-icon{
        display: flex;
        background-color: #00295B;
        border-radius: 10px;
        justify-content: center;
        width: 12rem;
        align-items: center;
        padding: 0.5rem;
    }
    .social-icon:hover{
        cursor: pointer;
    }
    .footer-section li:hover{
        cursor: pointer;
        text-decoration: underline;
    }
    .social-icon > * {
        margin: 0 .5rem;
    }
    .bolder{
        font-weight: 600;
    }
    .onScreen{
        display: none;
    }
    @media screen and (max-width:800px){
     .menu li, .contacto span{
        display: none;
     }
     .logo{
        font-size: 1.8rem;
     }
     .burger{
        position: absolute;
        right: 1rem;
        top: 1.5rem;
        display: inline;
     }
     .footer-container{
        width: 95vw;
        text-align: center;
     }
     .footer-section{
        padding-top: 2vh;
        border-top: #fff solid 1px;
     }
     .footer-container > span{
        font-size: 1.6rem;
        margin: auto;
     }
     .footer_sections{
        flex-direction: column;
     }
     .social-icons, .line{
        display: none;
    }
    .onScreen-mob{
        display: none;
    }
    }
    </style>
<script>
    const menuToggle = document.querySelector(".menu-mobile") as HTMLDivElement;
    const salir = document.getElementById("salir") as HTMLImageElement;
    const hamburger = document.getElementById("hamburger") as HTMLImageElement;
    
    const Desarrollo = document.getElementById("Desarrollo") as HTMLLIElement;
    const Plantillas = document.getElementById("Plantillas") as HTMLLIElement;
    const Soporte = document.getElementById("Soporte") as HTMLLIElement;
    const Nosotros = document.getElementById("Nosotros") as HTMLLIElement;
    const Contacto = document.getElementById("Contacto") as HTMLLIElement;

    Desarrollo.addEventListener("click", ()=>{
        window.location.href= "./planes"
    })

    Plantillas.addEventListener("click", ()=>{
        window.location.href= "./landings"
    })
    
    Soporte.addEventListener("click", ()=>{
        window.location.href= "./soporte"
    })
    
    Nosotros.addEventListener("click", ()=>{
        window.location.href= "./nosotros"
    })

    
    Contacto.addEventListener("click", ()=>{
        window.location.href= "./contacto"
    })

    hamburger.addEventListener("click",
     ()=>{
        menuToggle.classList.toggle("onScreen");
        hamburger.classList.toggle("onScreen-mob");
        salir.classList.toggle("onScreen-mob");
        
    })
    salir.addEventListener("click", ()=>{
    menuToggle.classList.toggle("onScreen");
    hamburger.classList.toggle("onScreen-mob");
    salir.classList.toggle("onScreen-mob");
 })
</script>