<section class="ofertas">
    <div class="ofertas_text">
        <h3>Mejora tus ventas y tu visibilidad online.</h3>
        <p>Use this long-form section to really paint a picture of the before and after. What’s the problem you’re solving? What’s the benefit people are getting?
            For example, if you’re hosting a webinar about how to collect leads for an online business..</p>
            <button onclick= "window.location.href = './landings#seo';">Ver más</button>
    </div>
    <div class="ofertas-img">
        <figure>
            <img src="./img/person-calculating.svg" alt="Persona mirando gráficos">
        </figure>
    </div>
</section>

<style>
    *{
        margin: 0;
        padding: 0;
    }
    .ofertas{
        display: flex;
        width: 80vw;
        margin: 15vh auto;
        align-items: center;
        justify-content: center;
    }
    .ofertas figure img{
        width: 100%;
    }
    .ofertas figure{
        width: 30vw;
    }
    .ofertas_text{
        width: 40vw;
    }
    .ofertas_text h3{
        color: #595959;
        font-size: 3rem;
        margin-bottom: 3rem;
    }
    .ofertas_text p{
        color: #7C7A7A;
        font-size: 1.2rem;
        font-weight: 300;
        width: 30vw;
        margin: 0 0 3rem 0;
    }
.ofertas_text button{
    padding: 0.8rem 4rem;
    border: none;
    color: #fff;
    font-size: 1.2rem;
    background: hsl(20, 81%, 52%);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    font-weight: 600;
    border-radius: 10px;
}
.ofertas_text button:hover{
    cursor: pointer;
    background: hsl(20, 81%, 52%,0.8);
}
@media screen and (max-width:800px){
    .ofertas{
        width: 95vw;
        flex-direction: column;
    }
    .ofertas figure{
        order: 1;
        width: 95vw;
        translate: 10vw 0;
    }
    .ofertas_text{
        margin: 2vh 0;
        order: 2;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 95vw;
    }
    .ofertas_text h3{
        font-size: 1.8rem;
    }
    .ofertas_text p{
        width: 100%;
        font-size: 1rem;
    }
    .ofertas_text button{
        padding: 0.8rem 2rem;
    }
}
</style>