<section class="ofertas">
    <div class="ofertas_text">
        <h3>El análisis de datos es crecimiento e ideas.</h3>
        <p> Un análisis estadístico facilita conocer las necesidades de tus clientes generando las oportunidades de venta e inversión, sumando a la empresa y a su infraestructura comercial.</p>
            <button onclick= "window.location.href = './landings#seo';">Ver más</button>
    </div>
        <figure>
            <img src="./img/persona-calculando.webp" alt="Persona mirando gráficos">
        </figure>

</section>

<style>
    *{
        margin: 0;
        padding: 0;
    }
    .ofertas{
        display: flex;
        width: 80vw;
        margin: 15vh auto;
        align-items: center;
        justify-content: center;
    }
    .ofertas figure img{
        width: 100%;
    }
    .ofertas figure{
        width: 30vw;
    }
    .ofertas_text{
        width: 40vw;
    }
    .ofertas_text h3{
        color: #333;
        font-size: 3rem;
        margin-bottom: 3rem;
    }
    .ofertas_text p{
        color: #333;
        font-size: 1.2rem;
        font-weight: 300;
        width: 30vw;
        margin: 0 0 3rem 0;
    }
.ofertas_text button{
    padding: 0.8rem 4rem;
    border: none;
    color: #fff;
    font-size: 1.2rem;
    background: #0047FF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    font-weight: 600;
    border-radius: 10px;
}
.ofertas_text button:hover{
    cursor: pointer;
    background: hsl(223, 100%, 61%,0.8);
}
@media screen and (max-width:800px){
    .ofertas{
        width: 95vw;
        flex-direction: column;
    }
    .ofertas figure{
        order: 1;
        width: 90vw;
    }
    .ofertas_text{
        margin: 2vh 0;
        order: 2;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 95vw;
    }
    .ofertas_text h3{
        font-size: 1.8rem;
    }
    .ofertas_text p{
        width: 100%;
        font-size: 1rem;
    }
    .ofertas_text button{
        padding: 0.8rem 2rem;
    }
}
</style>