<div class="section__pricing">
    <h3>Plantillas web</h3>
    <p>Contamos con plantillas adaptables a tu negocio.</br>
        Existe una gran variedad de webs, cada una tiene su propósito y su estrategia.</p>
        <div class="price__boxes">
            <div class="little__boxes first">
                <h4>Básico</h4>
                <figure class="img-1">
                    <img src="/img/landings/landing-300-2.webp" alt="Página Web">
                </figure>
                <figure class="img-2">
                    <img src="/img/landings/landing-300-5.webp" alt="Página Web">
                </figure>
                <div class="line"></div>
                <p>Texto es minimalista, la llamada a la acción en el encabezado, condensa la información esencial para lograr tu objetivo.</p>
                <div class="box__buttons">
                <input type="button" value="Ver Plantillas" id="click_Bas">
                </div>
            </div>
            <div class="little__boxes second">
                <h4>Medio</h4>
                <figure class="img-1">
                    <img src="/img/500-preview-2.webp" alt="Página Web">
                </figure>
                <figure class="img-2">
                    <img src="/img/500-preview.webp" alt="Página Web">
                </figure>
                <div class="line"></div>
                <p>Permite mayor cantidad de información, puedes informar sobre los beneficios o características de tu producto o servicio.</p>
                <div class="box__buttons">
                <input type="button" value="Ver Plantillas" id="click_Med">
                </div>
            </div>
            <div class="little__boxes third">
                <h4>Avanzado</h4>
                <figure class="img-1">
                    <img src="/img/1millon-preview-1.webp" alt="Página Web">
                </figure>
                <figure class="img-2">
                    <img src="/img/1-millon-preview.webp" alt="Página Web">
                </figure>
                <div class="line"></div>
                <p>Haz que el usuario conozca cada detalle sobre tu operación a través de imágenes, textos y gráficos esenciales para tu imagen empresarial.</p>
                <div class="box__buttons">
                <input type="button" value="Ver Plantillas" id="click_Ava">
                </div>
            </div>
        </div>
    </div>
<style>
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    .section__pricing{
    display: flex;
    padding: 5vh 0;
    flex-direction: column;
    align-items: center;
    color: #fff;
    width: 100%;
    background: url("./img/pricing-bg.webp");
    margin: 13vh auto;
}
.section__pricing > * {
    padding: 0.4rem;
}
.section__pricing h3{
    font-size: 2.5rem;
    margin-bottom: 0.3rem;
}
.section__pricing p{
    font-size: 1.2rem;
    text-align: center;
    margin-bottom: 1.4rem;
}
.price__boxes{
    display: flex;
    justify-content: center;
    width: 100%;
    margin: auto;
    gap: 2vw;
}
.img-1 img, .img-2 img{
    width: 15rem;
    height: 12rem;
    object-fit: cover;
}
.img-1{
    translate: -1rem 2rem;
}
.little__boxes{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 23rem;
    height: 42rem;
    color: #000;
    background-color: #E2F3FF;
    border-radius: 16px;
}
.first p{
    padding-bottom: 0.6rem;
}
.first, .third{
    padding-top: 0.9rem;
}
.little__boxes p{
    font-size: 1rem;
    font-weight: 300;
    width: 20vw;
    text-align: center;
}
.little__boxes h4{
    font-size: 1.8rem;
    color: #1C2B5C;
}
.box__buttons{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}
.box__buttons input{
    padding: 0.8rem;
    font-size: 1rem;
    font-weight: 600;
    border: none;
    width: 12vw;
    color: #1C2B5C;
    border-radius: 16px;
    box-shadow: #a1a1a1 0 2px;
}
.box__buttons :first-child{
    background-color: #0047FF;
    color: #fff;
    box-shadow: none;
}
.box__buttons input:hover{
    cursor: pointer;
}
.little__boxes:hover{
    border: #1C2B5C 3px solid ;
}
.box__buttons :first-child:hover{
    background: hsl(223, 100%, 50%,0.7);
    font-size: 17px;
}
.box__buttons :last-child:hover{
    font-size: 1.05rem;
    padding: 1rem;
}
.line{
    width: 80%;
    border: 1px solid #1C2B5C;
    margin: .5rem 0 1.2rem 0;
}
/* .second.line{
    border: #fff 1px solid;
} */
/* .second{
    background:#090071;
    color: #fff;
}
.second h4{
    color: #fff;
} */
@media screen and (max-width:800px){
.price__boxes{
    flex-direction: column;
    width: 95vw;
    align-items: center;
    gap: 4vh;
}
.section__pricing h3{
    font-size: 1.8rem;
}
.section__pricing p{
    font-size: .95rem;
    width: 90vw;
}
.little__boxes{
    width: 20rem;
    height: 33rem;
}
.img-1 img, .img-2 img{
    width: 13rem;
    height: 9rem;
}
.little__boxes p{
    width: 95%;
}
.line{
    margin: .5rem 0 .8rem 0;
}
.box__buttons input{
    width: 8rem;
    font-size: .9rem;
}
.little__boxes p{
    margin-bottom: 0.7rem;
    font-size: .95rem;
}
}
</style>

<script>
    const clickBas = document.getElementById("click_Bas") as HTMLButtonElement;
    const clickMed = document.getElementById("click_Med") as HTMLButtonElement;
    const clickAva = document.getElementById("click_Ava") as HTMLButtonElement;


    clickBas.addEventListener("click", ()=>{
        window.location.href= "./landings#plantillas"
    })
    clickMed.addEventListener("click", ()=>{
        window.location.href= "./landings#plantillas"
    })
    clickAva.addEventListener("click", ()=>{
        window.location.href= "./landings#plantillas"
    })
</script>