<section class="stats">
    <div class="stats-container">
        <div class="stats-one">
            <h3>Los sitios web aumentan la visibilidad, los clientes y las conversiones, estableciendo la marca en el mercado.</h3>
        </div>
        <div class="stats-dos">
                <div class="stat-row">
                    <div class="estadistica">
                        <span class="estadisticas">De los usuarios 70%</span>
                        <span>Compra en línea</span>
                    </div>
                    <div class="estadistica">
                        <span class="estadisticas">De los usuarios 30%</span>
                        <span>Busca en internet para comprar</span>                
                    </div>
                </div>
                    <div class="linea-stat"></div>
                    <div class="stat-row">
                        <div class="estadistica">
                            <span class="estadisticas">De los usuarios 23%*</span>
                            <span>Compra luego de ingresar al sitio</span>
                        </div>
                        <div class="estadistica">
                            <span class="estadisticas">De los usuarios 49%</span>
                            <span>Encuentra nuevos productos y ofertas en internet</span>                
                        </div>                
                </div>
        </div>
        <span class="disclaimer">*La taza de conversión varía de acuerdo a la industria y al tipo de sitio</span>
    </div>
</section>

<style>
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    .stats{
        background-color: #161935;
        color: #fff;
    }
    .stats-container{
        width: 80rem;
        margin: auto;
        display: flex;
        justify-content: center;
        padding: 15vh 0;
        gap: .5rem;
        align-items: center;
    }
    .stats-one{
        font-size: 2rem;
        width: 50%;
    }
    .stats-dos{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .stat-row{
        display: flex;
        gap: 5rem;
    }
    .estadistica{
        width: 10rem;
        display: flex;
        font-weight: 300;
        text-align: center;
        flex-direction: column;
    }
    .estadisticas{
        font-weight: 500;
        font-size: 2.5rem;
    }
    .linea-stat{
        margin: 3vh;
        width: 30rem;
        height: 2px;
        border-radius: 10px;
        border: #fff solid 2px;
    }
    .disclaimer{
        font-size: 12px;
        position: absolute;
        left: 5rem;
        transform: translateY(40vh);
    }
@media screen and (max-width:800px){
    .stats-container{
        width: 90vw;
        flex-direction: column;
        gap: 10vh;
    }
    .stats-one{
        width: 85vw;
        font-size: 1.4rem;
    }
    .stats-dos{
        width: 100%;
    }
    .stat-row{
        display: flex;
        gap: 5vw;
    }
    .linea-stat{
        width: 95vw;
    }
    .estadisticas{
        font-size: 1.4rem;
    }
    .estadistica{
        padding: .5rem;
        width: 100%;
    }
    .disclaimer{
        font-size: 12px;
        position: absolute;
        left: 1rem;
        transform: translateY(52vh);
    }
}
</style>