<div class="section__custom">
    <div class="sc_text">
    <h2>¿Buscás una web personalizada?</h2>
    <span>Sé el primero en los resultados de búsqueda de tus clientes.</span>
    <p>Si buscás un enfoque único que se ajuste a tus objetivos, desarrollamos una landing page a tu medida. Construímos un modelo desde 0 para tu producto, servicio o campaña y transmitimos tu mensaje de manera efectiva a través de un diseño estratégico.</p>
    </div>
    <div class="custom__card">
        <h4>Personalizada</h4>
        <span>Precios desde</span>
        <div class="price">
        <span>300.000</span><span>Gs</span>
        </div>
        <ul>
            <li>Diseño Único</li>
            <li>Ideado para tu Negocio</li>
            <li>Precio Accesible</li>
            <li>Corto Periodo de Entrega</li>
        </ul>
        <input type="button" value="Contacto">
    </div>
</div>
</div>

<style>
    .section__custom{
    color: #fff;
    margin-top: 50px;
    display: flex;
    padding: 10vh;
    justify-content: space-evenly;
    background-color: #001F89;
    font-size: 26px;
    font-weight: 500;
}
.section__custom p{
    color: #E8E8E8;
    font-size: 18px;
    font-weight: 400;
    text-align: justify;
}
.sc_text > *{
    padding: 30px 0;
}
.sc_text{
    width: 500px;
}
.sc_text h2{
    font-size: 42px;
    font-weight: 700;
}
.custom__card{
    display: flex;
    flex-direction: column;
    color: #000;
    text-align: center;
    font-size: 20px;
    font-weight: 300;
    width: 350px;
    background: #F1F1F1;
    border-radius: 20px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.custom__card ul{
    line-height: 2;
}
.custom__card ul li:first-child, .custom__card ul li:last-child{
    background: #9FCEFF;
}
.custom__card h4{
    color: #0027A8;
    font-size: 32px;
    font-weight: 600;
    padding: 31px 20px 0 20px;
}
.custom__card span{
    font-size: 24px;
    font-weight: 300;
}
.price span{
    color: #0027A8;
    font-size: 56px;
    font-weight: 500;
}
.price span:last-child{
  font-size: 32px;
}
.section__custom input{
    padding: 20px;
    width: 200px;
    margin: 30px auto;
    background: #0027A8;
    border-radius: 16px;
    color: #FFF;
    font-size: 24px;
    font-weight: 600;
    border: none;
    cursor: pointer;
}
.section__custom input:hover{
    opacity: 85%;
}
</style>