<section class="ventajas">
    <div class="ventajas-container">
        <h3>Mejora tu comunicación con el cliente</h3>
        <p>Genera una comunicación fluida con el cliente y permite que le llegue tu mensaje</p>
        <div class="ventajas-row">
            <div class="ventajas-text">
                <span><b>Llega a más usuarios</b> a través de distintas plataformas de difusión.</span>
                <span><b>Comunicate con el cliente</b> de forma clara y conscisa, muestra tu mensaje de forma única.</span>
                <span><b>Muestra tus precios,</b> explica las ventajas de tu oferta y tu servicio.</span>
                <span><b>Mide tu tráfico</b> de forma eficiente y reúne todas tus fuentes.</span>
            </div>
            <figure>
                <img src="./img/ventajas-img.svg" alt="Persona caminando - web">
            </figure>
        </div>
    </div>
</section>

<style>
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    .ventajas-container{
        display: flex;
        text-align: center;
        flex-direction: column;
        width: 70rem;
        margin: 10vh auto;
    }
    .ventajas-container h3 {
        font-size: 3rem;
        font-weight: 500;
    }
    .ventajas-container p{
        width: 30vw;
        font-size: 1.2rem;
        margin: 2vh auto 5vh auto;
    }
    .ventajas-row{
        display: flex;
        justify-content: center;
        gap: 15vw;
        margin-right: -12rem;
    }
    .ventajas-row figure img{
        width: 100%;
    }
    .ventajas-text{
        justify-content: center;
        display: flex;
        font-size: 1.2rem;
        text-align: left;
        width: 25rem;
        flex-direction: column;
        gap: 1vh;
    }
</style>